<!DOCTYPE html>
<html>
        <head>
                <title>오수영</title>
                <title>nginx web server</title>
        </head>
        <body>
                <center>
                <p><h2>ANSIBLE TEST PAGE</h2></p>
                <p>NGINX NUMBER : {{idx}}/{{nu}}</p>
                <p>PUB:{{ ansible_all_ipv4_addresses[1] }}</p>
                <p>PRI:{{ ansible_all_ipv4_addresses[0] }}</p>
                </center>
        </body>
</html>

